openapi: 3.0.3
servers:
  - url: https://api.serverless.runware.ai

info:
  title: Serverless API
  version: 0.4.0
  license:
    name: Proprietary
  description: >
    Control plane and task-ingestion API for the Runware Serverless platform.


    A Runware organisation is the tenant boundary. Apps are addressed as
    `/v1/apps/{appId}` and endpoints are invoked as
    `/v1/apps/{appId}/invoke-async/{endpointPath}` (async invocation) or
    `/v1/apps/{appId}/invoke-sync/{endpointPath}` (sync invocation).


    Two authentication schemes are accepted, both as bearer tokens. A Runware API key
    (CLI and SDK) is validated against the existing Runware platform server-to-server; the
    key identifies the organisation. An org-scoped JWT (web app) is minted by the Runware
    platform for one user acting in one organisation and verified locally against the
    platform's published JWKS. Resources are always scoped to the authenticated
    organisation, whichever scheme carried it. Task ingestion and task reads accept the
    API key only.

security:
  - ApiKeyAuth: []
  - OrgJwtAuth: []

tags:
  - name: Tasks
    description: Submit work to app endpoints and inspect task status
  - name: Apps
    description: Manage apps and their lifecycle
  - name: Builds
    description: Immutable builds
  - name: Versions
    description: App versions produced by successful builds
  - name: Endpoints
    description: Named endpoints exposed by an app
  - name: Compute
    description: Compute hardware catalogues (GPU types) and pricing
  - name: Workers
    description: Running worker instances (read-only runtime state)
  - name: Secrets
    description: Organisation-scoped encrypted secrets
  - name: EnvironmentVariables
    description: Plain-text environment variables scoped to an app
  - name: Observability
    description: Usage, events and errors

paths:
  # ---------------------------------------------------------------------------
  # Compute (GPU catalogue)
  # ---------------------------------------------------------------------------
  /v1/gpu-types:
    get:
      tags:
        - Compute
      summary: List supported GPU types and their pricing
      description: >
         Returns the global GPU type catalogue and pricing. The request requires authentication.
         Customer principals receive only GPU types with capacity currently offered to customers;
         a type whose hardware is not yet cleared for customer workloads is omitted. The Runware
         principal receives the full catalogue, including retired types and types not yet offered.
         Retired entries carry `deletedAt`. Each entry's `pricing` is the price currently in effect;
         the Runware principal can read the full price
         history, including scheduled future changes, from
         `GET /v1/gpu-types/{gpuTypeId}/prices`.
      operationId: listGpuTypes
      responses:
        '200':
          description: GPU type catalogue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GpuTypeList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Compute
      summary: Add a GPU type to the catalogue
      description: >
        Creates a new entry in the global GPU type catalogue. Restricted to the Runware platform
        organization. The `id` (catalogue code) is immutable and remains reserved after retirement.
      operationId: createGpuType
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GpuTypeCreate'
      responses:
        '201':
          description: GPU type created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GpuType'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/gpu-types/{gpuTypeId}:
    get:
      tags:
        - Compute
      summary: Get a GPU type from the catalogue
      description: >
        Returns an active entry from the global GPU type catalogue. Retired entries return `404`.
        The result is not organisation-specific, but the request still requires authentication.
      operationId: getGpuType
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
      responses:
        '200':
          description: The GPU type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GpuType'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    patch:
      tags:
        - Compute
      summary: Update a GPU type in the catalogue
      description: >
        Updates mutable fields of an active GPU type. Restricted to the Runware platform organization.
        The catalogue code (`gpuTypeId`) cannot be changed; retired entries return `404`.
      operationId: updateGpuType
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GpuTypeUpdate'
      responses:
        '200':
          description: Updated GPU type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GpuType'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Compute
      summary: Retire a GPU type from the catalogue
      description: >
        Soft-deletes a GPU type while preserving its code and price history. Restricted to the
        Runware platform organization. Returns `409` if a worker configuration or GPU pool still
        references the code. Retiring an already retired code returns `404`.
      operationId: deleteGpuType
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
      responses:
        '204':
          description: GPU type retired
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/gpu-types/{gpuTypeId}/prices:
    get:
      tags:
        - Compute
      summary: List historical and future prices of a GPU type
      description: >
        Returns a page of a GPU type's prices, ordered by effectiveFrom. Restricted to the Runware
        platform organization: the page includes retired types and prices that are scheduled but not yet in effect.
        Customers read the price currently in effect from `GET /v1/gpu-types`.
      operationId: listGpuTypePrices
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of prices for the GPU type
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/GpuPricingListItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'
    post:
      tags:
        - Compute
      summary: Schedule a new price for a GPU type
      description: >
        Schedules a new price to take effect at `effectiveFrom`. Restricted to the Runware platform
        organization. `effectiveFrom` must normally be more than 7 days in the future. Before a GPU
        type is admitted or used, a later price can be added inside that window to correct its initial
        price. This preserves the original row and records the correction as a superseding price.
        Retired types return `404`; other values inside the notice window return `422`.
        Returns `409` if the GPU type already has a price scheduled at that exact instant.
      operationId: createGpuTypePrice
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GpuPricingCreate'
      responses:
        '201':
          description: Price scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GpuPricing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/gpu-types/{gpuTypeId}/prices/{priceId}:
    patch:
      tags:
        - Compute
      summary: Update a scheduled price for a GPU type
      description: >
        Partially updates a scheduled price. Restricted to the Runware platform organization.
        Only a price whose current `effectiveFrom` is still more than 7 days in the future can be
        edited — once inside that window the price is locked in and this returns `409`. A
        supplied `effectiveFrom` must itself be more than 7 days in the future, returning `422`
        otherwise. Retired GPU types return `404`. Returns `409` if the update collides with
        another price already scheduled at that exact instant.
      operationId: updateGpuTypePrice
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
        - name: priceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GpuPricingUpdate'
      responses:
        '200':
          description: Price updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GpuPricing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Compute
      summary: Remove a scheduled price for a GPU type
      description: >
        Deletes a scheduled price. Restricted to the Runware platform organization. Only a price
        whose effectiveFrom is still more than 7 days in the future can be deleted — once inside that
        window the price is locked in (about to take effect, or already has) and this returns
        `409`. Retired GPU types return `404`.
      operationId: deleteGpuTypePrice
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
        - name: priceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Price deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Tasks
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/invoke-async/{endpointPath}:
    post:
      tags:
        - Tasks
      summary: Start a new async task
      description: >
        Starts a new async task on `appId`, routing the request body payload to an available
        worker. The task runs asynchronously and the response is `202`; poll
        `GET /v1/apps/{appId}/tasks/{taskId}` for completion. Apps in
        `initializing`, `active`, or `stopping` accept invocation. `stopped`, `deleting`, and
        `failed` return `409 Conflict`; unknown or deleted apps return `404 Not Found`.
      operationId: startAsyncTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/EndpointPath'
      requestBody:
        $ref: '#/components/requestBodies/TaskPayload'
      responses:
        '202':
          $ref: '#/components/responses/TaskAccepted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/apps/{appId}/invoke-sync/{endpointPath}:
    post:
      tags:
        - Tasks
      summary: Start a new sync task
      description: >
        Starts a new sync task on `appId`, routing the request body payload to an available
        worker. The request blocks until the task is terminal and returns the result inline (`200`),
        or `504` if it does not complete within the wait window. When the accepted task ID is
        available, the response includes `taskId` for polling. Apps in `initializing`,
        `active`, or `stopping` accept invocation. `stopped`, `deleting`, and `failed` return
        `409 Conflict`; unknown or deleted apps return `404 Not Found`.
      operationId: startSyncTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/EndpointPath'
      requestBody:
        $ref: '#/components/requestBodies/TaskPayload'
      responses:
        '200':
          $ref: '#/components/responses/Task'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'
        '504':
          $ref: '#/components/responses/Timeout'

  /v1/apps/{appId}/tasks/{taskId}:
    get:
      tags:
        - Tasks
      summary: Get a task
      description: >
        Returns the task's current status, read through the inference transport layer from the
        shared result store. When `completed`, includes the result `output` and `completedAt`;
        when `failed`, includes `error`; when `pending`, neither is set. If the app is
        `stopped`, `deleting`, or `failed`, accepted task results stay readable. A `404 Not Found`
        means the task cannot currently be verified for this app. Because enqueue-time
        ownership tracking is best effort, a recently returned task ID can temporarily return
        `404`; retry it within the normal polling window. Unknown or deleted apps also
        return `404 Not Found`.
      operationId: getTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            description: Opaque task identifier returned by the execution backend.
      responses:
        '200':
          $ref: '#/components/responses/Task'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/apps/{appId}/tasks:
    get:
      tags:
        - Tasks
      summary: List tasks for an app
      description: >
        Lists TTL-bounded asynchronous task metadata for this app so a client
        can recover task ids after an interrupted long-poll or CLI session. Pending
        includes queued, running and retrying work. Tasks appear only within the
        configured recovery window. A page can be empty and still have `nextCursor`;
        continue until it is null. Pending entries are best effort and may disappear
        if the recovery store restarts; tracked tasks reappear on completion. This is
        not persisted task history. Each submission has a new task id, so client retries
        can appear as separate tasks. If the app is `stopped`, `deleting`, or `failed`,
        recovery stays available. Unknown or deleted apps return `404 Not Found`.
      operationId: listTasks
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/TaskStatus'
      responses:
        '200':
          description: A page of tasks
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Apps
  # ---------------------------------------------------------------------------
  /v1/apps:
    get:
      tags:
        - Apps
      summary: List apps
      description: >
        Returns a page of the organisation's apps. Filters combine with AND; soft-deleted
        apps are excluded unless `status=deleted` is requested explicitly.


        A `cursor` is only valid for the `sort` and filters it was issued under — reusing one
        across a different ordering or filter set returns `400`.
      operationId: listApps
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          description: Return only apps in this status.
          schema:
            $ref: '#/components/schemas/AppStatus'
        - name: q
          in: query
          required: false
          description: >
            Case-insensitive substring match against `appName` and `appId`.
            An app matching either is returned.
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - name: gpuType
          in: query
          required: false
          description: >
            Return only apps whose worker configuration requests this GPU type.
            Matched against `configuration.gpuType` only, not `fallbackGpuType`. Must be a
            code from `GET /v1/gpu-types`; an unknown code returns `422`.
          schema:
            $ref: '#/components/schemas/GpuTypeId'
        - name: sort
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/AppSort'
      responses:
        '200':
          description: A page of apps
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/App'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
    post:
      tags:
        - Apps
      summary: Create an app
      description: >
        Creates an app together with its worker configuration, environment variables and
        endpoints, and records version `1` — the immutable description of what to deploy. The
        app starts in `initializing`, and what happens next depends on the app
        source type:


        - `code` source: the codebase is submitted to the build pipeline; once the image is built
          and workers become healthy the app transitions to `active` and `activeVersionId`
          points at that version. If the build, validation, or rollout fails the app is
          marked `failed`.

        - `container` source: no build step, so the version carries no `buildId`. No worker runs
          from a container source yet, so the app stays `initializing` and does not serve
          inference — poll `active` only for a `code` source.


        `activeVersionId` is null until a rollout completes: a version records what should run,
        and only a finished deploy says what does.


        `secrets` is accepted by the schema but not yet applied, so supplying it returns `422`
        rather than silently dropping it.
      operationId: createApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCreate'
      responses:
        '201':
          description: App created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/apps/{appId}:
    get:
      tags:
        - Apps
      summary: Get an app
      operationId: getApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: The app
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Apps
      summary: Update an app
      description: >
        Patches one or more aspects of an app in place. All fields are optional; omitted
        fields are left unchanged. Valid in any non-`deleted` status, including `stopped`
        (changes apply on `resume`). Lifecycle transitions use the dedicated `deploy`, `stop`,
        `resume`, and `delete` operations.


        **Currently persisted:** `appName` and `configuration` only. Supplying
        `appSource`, `secrets`, `environmentVariables`, or `endpoints` returns `422`
        (bulk env-var replace is not wired — use the dedicated `/environment-variables`
        endpoints for individual keys).


        Target behaviour (once fully wired):

        - `configuration`: applied on the next Scaler cycle; triggers a rollout so workers
          restart with the new configuration. If the rollout fails, the app remains on
          the previous configuration.

        - `appSource`: triggers a build (for `code` sources) or image validation (for `container`
          sources); on success the new version is deployed automatically. If the build or
          validation fails, the app remains on the previous version.

        - `secrets` / `environmentVariables` / `endpoints`: the supplied array **replaces** the
          current set — any item absent from the request is deleted. Endpoints take effect
          immediately. Changes to secrets or environment variables trigger a rollout so workers
          restart and pick up the new values.
      operationId: updateApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppUpdate'
      responses:
        '200':
          description: Updated app
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Apps
      summary: Delete an app
      description: >
        Soft delete. Sets `status = deleting` and returns `202` once that intent is persisted.
        Router removal, cancelling in-progress builds, and worker drain
        (`draining → stopping → stopped`) are performed asynchronously by the deployer/Scaler;
        `status` becomes `deleted` once all workers stop. All rows are retained for billing
        finalisation, audit, and usage history. Idempotent if the app is already
        `deleting`.
      operationId: deleteApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '202':
          description: Delete accepted; status is deleting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/apps/{appId}/deploy:
    post:
      tags:
        - Apps
      summary: Deploy a version
      description: >
        Activates a `ready` version by number, setting `activeVersionId` and returning `202`
        once that intent is persisted. Worker rollout, routing switch, and cancelling
        in-progress builds (`failed` with `error: "superseded"`) are performed asynchronously
        by the deployer/Scaler. Permitted in any addressable status, including `initializing`
        and `failed`.

        To roll back, supply an older `versionNumber` — the operation is identical to a forward
        deploy. No new version is created and no rebuild happens: the version's existing image
        is re-applied. Re-deploying the currently active version is permitted and re-applies it.

        A deploy to a `stopped` or `stopping` app records the version and rolls no
        workload, because no workers are running: the `202` does not imply a rollout there.
        The recorded version is the one applied when the app resumes.

        If the roll of a live app fails, `activeVersionId` is restored to the version
        that kept serving, so the field keeps naming the running image.

        **Rollout** (deployer/Scaler): the platform starts workers on the target version, waits
        for at least one to become healthy, switches task routing to the new version, then
        drains old-version workers gracefully. Old workers are given a fixed, platform-managed
        grace period to finish in-flight tasks before being force-terminated. If new workers
        fail to become healthy, old workers are not drained and the app continues on the
        previous version.

        Errors:
        - Deploy to a `deleting` app returns `409 Conflict`
        - `versionNumber` not found or not `ready` returns `409 Conflict`
        - A `container`-source version returns `409 Conflict` until container apps are supported
        - Deploy to a non-existent or `deleted` app returns `404 Not Found`
      operationId: deployVersion
      parameters:
        - $ref: '#/components/parameters/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployRequest'
      responses:
        '202':
          description: Deploy accepted; activeVersionId updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/apps/{appId}/stop:
    post:
      tags:
        - Apps
      summary: Stop an app
      description: >
        Moves the app to `stopping` and returns `202` once that intent is persisted.
        Scale-to-zero and worker drain are performed asynchronously by the Scaler; `status`
        becomes `stopped` once all workers drain. In-flight tasks have a fixed,
        platform-managed grace period to complete; workers that exceed it are force-terminated
        and their tasks return to the queue per delivery guarantees. New task submissions remain
        accepted while `stopping`; after the app reaches `stopped`, submissions return
        `409 Conflict`. Precondition: `status = active`.
      operationId: stopApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '202':
          description: Stop accepted; status is stopping
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /v1/apps/{appId}/resume:
    post:
      tags:
        - Apps
      summary: Resume an app
      description: >
        Moves the app to `initializing` and returns `202` once that intent is persisted.
        The Scaler then starts workers and sets the app to `active`; tasks that remained
        queued when the app stopped are consumed as workers come online. Precondition:
        `status = stopped`.
      operationId: resumeApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '202':
          description: Resume accepted; app is initializing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /v1/apps/{appId}/favourite:
    put:
      tags:
        - Apps
      summary: Favourite an app
      description: >
        Pins the app as a favourite for the authenticated organisation so the console
        can surface it in a Favourites section. Idempotent: favouriting an already-favourited
        app succeeds and returns the app with `isFavourite: true`. Apps
        in `deleting` or `deleted` status cannot be favourited (`404`). Soft-delete clears any
        existing pin when status becomes `deleting`.
      operationId: favouriteApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App is favourited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Apps
      summary: Unfavourite an app
      description: >
        Removes the organisation favourite pin from the app. Idempotent: unfavouriting
        an app that is not favourited succeeds and returns the app with
        `isFavourite: false`. Valid in any status including `deleting` and `deleted` — unpinning
        is not an app lifecycle mutation. Missing apps return `404`.
      operationId: unfavouriteApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App is not favourited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/app-summary:
    get:
      tags:
        - Apps
      summary: App summary metrics for the authenticated organisation
      description: >
        Aggregate dashboard metrics across all apps owned by the authenticated organisation.
        Metrics whose backing system is not yet available are omitted from the
        response rather than reported as zero.
      operationId: getAppSummary
      responses:
        '200':
          description: App summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ---------------------------------------------------------------------------
  # Builds
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/builds:
    get:
      tags:
        - Builds
      summary: List builds
      operationId: listBuilds
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of builds
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Build'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/apps/{appId}/builds/{buildId}:
    get:
      tags:
        - Builds
      summary: Get a build
      operationId: getBuild
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: buildId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The build
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Versions
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/versions:
    get:
      tags:
        - Versions
      summary: List versions
      operationId: listVersions
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of versions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Version'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/apps/{appId}/versions/{versionNumber}:
    get:
      tags:
        - Versions
      summary: Get a version
      operationId: getVersion
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: versionNumber
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Endpoints
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/endpoints:
    get:
      tags:
        - Endpoints
      summary: List endpoints
      operationId: listEndpoints
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of the app's endpoints
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Endpoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/apps/{appId}/endpoints/{endpointId}:
    get:
      tags:
        - Endpoints
      summary: Get an endpoint
      operationId: getEndpoint
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: endpointId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Workers (read-only runtime state)
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/workers:
    get:
      tags:
        - Workers
      summary: List workers
      description: >
        Returns a newest-first page of workers observed for the app (including
        terminal `stopped` rows until purged). Optional `status` narrows the page;
        a cursor must be replayed under the same status filter it was issued with.
      operationId: listWorkers
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/WorkerStatus'
      responses:
        '200':
          description: A page of workers
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Worker'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/apps/{appId}/workers/{workerId}:
    get:
      tags:
        - Workers
      summary: Get a worker
      description: >
        Returns one worker by id within the app. The id is the Kubernetes
        pod UID recorded by the reconciler. A worker that belongs to another
        app (or tenant) is not found.
      operationId: getWorker
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/WorkerId'
      responses:
        '200':
          description: The worker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Secrets (organisation-scoped)
  # ---------------------------------------------------------------------------
  /v1/secrets:
    get:
      tags:
        - Secrets
      summary: List secrets
      description: Returns secret metadata only; encrypted values are never returned.
      operationId: listSecrets
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of the authenticated organisation's secrets
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Secret'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
    post:
      tags:
        - Secrets
      summary: Create a secret
      description: >
        Creates an organisation-scoped secret. Returns `409` if the name is
        already in use — including when a secret of that name is
        `pending_destroy`. List only shows active secrets, so a name can appear
        free while create still conflicts for as long as that row remains.
        Hard deletion of `pending_destroy` rows (which would release the name)
        is not performed by this API yet. Recreate-while-deleting may later
        reuse the pending row with the new value (same name, new ciphertext).
      operationId: createSecret
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretCreate'
      responses:
        '201':
          description: Secret created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/secrets/{secretName}:
    put:
      tags:
        - Secrets
      summary: Update a secret
      operationId: updateSecret
      parameters:
        - $ref: '#/components/parameters/SecretName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretUpdate'
      responses:
        '200':
          description: Updated secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Secrets
      summary: Delete a secret
      description: >
        Soft-deletes a secret: marks the row `pending_destroy` and bumps
        revision. This API does not hard-delete the row; a future GC path is
        expected to remove unattached `pending_destroy` secrets and release the
        name, but that sweep is not implemented yet. Returns `409` while any
        app still attaches it — cascade-detach is not performed here;
        detach each holder with
        `DELETE .../apps/{id}/secrets/{name}` first. Attach/detach are
        control-plane records only in this release (they do not roll workers).
        While the row remains `pending_destroy` the name stays reserved, so
        create may return `409` even though list no longer shows the secret.
        Retries on an already-pending name are safe when no attachments remain
        (`204`); they still return `409` while attached.
      operationId: deleteSecret
      parameters:
        - $ref: '#/components/parameters/SecretName'
      responses:
        '204':
          description: >
            Delete accepted (or already pending with no attachments). The name
            remains reserved while the row is `pending_destroy`.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # App <-> secret attachments
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/secrets:
    get:
      tags:
        - Secrets
      summary: List secrets attached to an app
      operationId: listAppSecrets
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of attached secrets
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SecretAttachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    post:
      tags:
        - Secrets
      summary: Attach a secret to an app
      description: >
        Records that an organisation secret is attached to an app under a
        resolved env-var name. This is a control-plane association only in this
        release — it does not roll workers or inject values into pods yet
        (ADR-019 in-pod unseal is separate). Returns `409` if the secret is
        already attached, or if another attach would use the same env-var name.

        The resolved name (`envVarName`, or `secretName` when omitted) must not
        already exist as a plain environment variable on this app
        (`deployment_configs.key`). Both sources are reserved for the same
        future pod env namespace, so the server rejects the collision with `422`
        instead of allowing a last-wins override later. The reverse check
        applies when setting a plain environment variable.

        An app holds at most 100 environment bindings in total — plain
        environment variables plus attached secrets — the same combined ceiling
        as create and the single-key env-var route. Attaching when the
        app is already at that limit returns `422`.
      operationId: attachAppSecret
      parameters:
        - $ref: '#/components/parameters/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretAttach'
      responses:
        '204':
          description: Secret attached
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/apps/{appId}/secrets/{secretName}:
    delete:
      tags:
        - Secrets
      summary: Detach a secret from an app
      description: >
        Removes the control-plane attachment. Does not roll workers in this
        release.
      operationId: detachAppSecret
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/SecretName'
      responses:
        '204':
          description: Attachment removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Environment Variables (plain-text env vars)
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/environment-variables:
    get:
      tags:
        - EnvironmentVariables
      summary: List app environment variables
      operationId: listAppEnvironmentVariables
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of environment variables
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EnvironmentVariable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/apps/{appId}/environment-variables/{variableName}:
    put:
      tags:
        - EnvironmentVariables
      summary: Update an app environment variable
      description: >-
        Sets one environment variable, creating it if absent. Names the platform sets on
        the serving container itself are rejected with `422`, as they are on create.


        An app holds at most 100 environment bindings in total — plain
        variables plus attached secrets — the same combined ceiling
        `AppCreate.environmentVariables` declares (create rejects secrets
        in-request; attach grows the set later). Overwriting an existing variable
        is always allowed; adding one past the ceiling returns `422`.


        The name must not collide with a secret already attached to this app
        (the secret's injected env var name). Secrets and plain env vars share the
        pod environment; a duplicate would be resolved last-wins by kubelet with no
        error, so the server rejects it with `422`. The reverse check applies on
        attach.
      operationId: updateAppEnvironmentVariable
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: variableName
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/EnvironmentVariableName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariableUpdate'
      responses:
        '200':
          description: Environment variable updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - EnvironmentVariables
      summary: Delete an app environment variable
      operationId: deleteAppEnvironmentVariable
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: variableName
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/EnvironmentVariableName'
      responses:
        '204':
          description: Environment variable deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Observability
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/events:
    get:
      tags:
        - Observability
      summary: List app events
      operationId: listAppEvents
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/AppEventType'
      responses:
        '200':
          description: A page of events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AppEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/usage:
    get:
      tags:
        - Observability
      summary: List usage events
      description: Append-only billing telemetry; one row per worker state transition.
      operationId: listUsageEvents
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: appId
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/AppId'
        - name: from
          in: query
          required: false
          description: Inclusive lower bound on event time (RFC 3339).
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: Exclusive upper bound on event time (RFC 3339).
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: A page of usage events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/UsageEvent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: >
        Runware API key supplied as a bearer token. Validated server-to-server against the
        existing Runware platform; the key identifies the organisation.
    OrgJwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Org-scoped JWT supplied as a bearer token, minted by the Runware platform for one
        user acting in one organisation and verified locally against the platform's
        published JWKS. Serves the web app; the CLI and SDK use ApiKeyAuth.

  parameters:
    AppId:
      name: appId
      in: path
      required: true
      description: Immutable app identifier, unique within the authenticated organisation.
      schema:
        $ref: '#/components/schemas/AppId'
    GpuTypeId:
      name: gpuTypeId
      in: path
      required: true
      description: Public catalogue code for a GPU type (e.g. `h100`), not the internal row UUID.
      schema:
        $ref: '#/components/schemas/GpuTypeId'
    WorkerId:
      name: workerId
      in: path
      required: true
      description: >
        Worker identifier — the Kubernetes pod UID recorded by the reconciler.
      schema:
        type: string
        format: uuid
    EndpointPath:
      name: endpointPath
      in: path
      required: true
      description: >
        Path of the endpoint to route the task to, as returned by `listEndpoints`:
        a bare lowercase segment such as `generate`, with no leading slash.
      schema:
        type: string
        minLength: 1
        maxLength: 64
        pattern: '^[a-z]([a-z0-9-]{0,62}[a-z0-9])?$'
    SecretName:
      name: secretName
      in: path
      required: true
      description: Secret name, unique within the authenticated organisation.
      schema:
        $ref: '#/components/schemas/SecretName'
    Limit:
      name: limit
      in: query
      required: false
      description: Maximum number of items to return.
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 100
        default: 20
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque pagination cursor returned as `nextCursor` by a previous call.
      schema:
        type: string

  requestBodies:
    TaskPayload:
      required: true
      description: Arbitrary JSON payload forwarded to the endpoint's RPC handler.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true

  responses:
    Task:
      description: The task
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Task'
    TaskAccepted:
      description: Task accepted and pending
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Task'
    BadRequest:
      description: >
        The request was malformed and could not be parsed (e.g. invalid JSON).
        A well-formed request that fails validation returns `422` instead.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    ServiceUnavailable:
      description: A required service is temporarily unavailable
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Forbidden:
      description: Authenticated but not permitted to access this resource
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    NotFound:
      description: Resource not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Conflict:
      description: Resource already exists or the request conflicts with its current state
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    ValidationError:
      description: >
        The request was well-formed but semantically invalid (e.g. a missing or
        out-of-range field). A request that could not be parsed returns `400`.
        The `errors` array carries one entry per offending field.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Timeout:
      description: Task timed out; `taskId` is present when the accepted task is known.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'

  schemas:
    AppId:
      type: string
      description: Immutable app identifier, unique within the authenticated organisation.
      minLength: 6
      maxLength: 30
      pattern: '^[a-z][a-z0-9-]{4,28}[a-z0-9]$'

    AppName:
      type: string
      description: >
        Mutable display name. Must contain at least one non-whitespace character:
        it is what the console renders and what `sort=name` orders on, and it is
        not required to be unique. Unlike `appId` the pattern is
        unanchored, so interior spaces are allowed — only an entirely blank name
        is rejected.
      minLength: 1
      pattern: '\S'

    EnvironmentVariableName:
      type: string
      description: >
        POSIX-style environment variable name. Letters, digits, and underscore;
        must start with a letter or underscore. Matched by the
        `deployment_configs` column CHECK so a valid-by-contract request cannot
        500 at INSERT.
      minLength: 1
      maxLength: 128
      pattern: '^[A-Za-z_][A-Za-z0-9_]{0,127}$'

    SecretName:
      type: string
      description: >
        Organisation-scoped secret name. The shape matches
        `EnvironmentVariableName` and the `secrets.name` /
        `deployment_secrets.env_var_name` column CHECKs — one rule for the
        contract and the schema — because attached secrets are intended to be
        injected as environment variables once ADR-019 in-pod unseal lands.

        Names the platform sets on the serving container (`RUNTIME`,
        `DISABLE_NGINX`, `MLFLOW_MODELS_WORKERS`, `UVICORN_HOST`) are rejected
        with `422`: when injection exists, the deployer appends customer env
        after its own and kubelet resolves duplicates last-wins, so an accepted
        collision would silently replace a platform value. Same guard as plain
        environment variables; enforced by the server (not expressible as a
        pattern here).
      minLength: 1
      maxLength: 128
      pattern: '^[A-Za-z_][A-Za-z0-9_]{0,127}$'

    # ---- Enums -------------------------------------------------------------
    AppStatus:
      type: string
      enum:
        - initializing
        - active
        - stopping
        - stopped
        - deleting
        - deleted
        - failed
    AppSort:
      type: string
      description: >
        Ordering for `listApps`. Every ordering is total (ties broken by
        `appId`), so a page is reproducible and its cursor stable.


        - `createdAt`: newest first. The default.

        - `name`: `appName` A–Z, case-insensitive.

        - `activity`: most recently active first.

        - `errorRate`: highest error rate first.


        `activity` and `errorRate` rank on per-app traffic metrics, which are not
        collected yet; requesting either returns `422` until they are.
      default: createdAt
      enum:
        - createdAt
        - name
        - activity
        - errorRate
    BuildStatus:
      type: string
      description: Build/validation lifecycle status.
      enum:
        - queued
        - building
        - ready
        - failed
        - superseded
    ComputeType:
      type: string
      description: >
        Worker compute class. GPU is the only supported value. CPU workloads
        are not supported.
      enum:
        - gpu
    WorkerStatus:
      type: string
      description: >
        Worker lifecycle status. Also the type of `UsageEvent.eventType`, which
        records a ledger subset of these states (see that field — `busy` never
        appears there). `unhealthy` means the pod exists but failed to become
        or stay ready, not an intentional drain or stop.
      enum:
        - pending
        - pulling
        - loading
        - ready
        - busy
        - unhealthy
        - draining
        - stopping
        - stopped
    TaskStatus:
      type: string
      enum:
        - pending
        - completed
        - failed
    SecretType:
      type: string
      description: >
        Kind of secret. Only the environment-variable variant (`generic`) is
        supported. Image-pull (`registry`) credentials are consumed by the
        kubelet before any container starts, so they cannot use the in-pod
        unseal path (ADR-019) and await their own decision.
      enum:
        - generic
    AppEventType:
      type: string
      enum:
        - deploy
        - scaling
        - audit
        - error

    # ---- Compute catalogue ----------------------------------------------
    GpuTypeId:
      type: string
      description: >
        Public catalogue code for a supported GPU type (e.g. `h100`, `rtx-pro-6000`).
        Must match an `id` returned by `GET /v1/gpu-types` (validated at request
        time against the catalogue). This is not the internal database row UUID.
      minLength: 1
      maxLength: 64
      pattern: '^[a-z][a-z0-9_-]{0,63}$'

    GpuAvailability:
      type: string
      description: Scheduler provisioning availability for this GPU type.
      enum:
        - available
        - reserved
        - custom

    GpuPricing:
      type: object
      additionalProperties: false
      required:
        - id
        - perSecond
        - effectiveFrom
      properties:
        id:
          type: string
          format: uuid
        perSecond:
          type: string
          minLength: 1
          pattern: '^\d+\.\d+$'
          description: >
            Price per GPU per second in USD major units as an exact decimal
            string (e.g. "0.000767"). Stored and billed from nanodollars
            internally; the platform bills in USD only.
          example: "0.000767"
        effectiveFrom:
          type: string
          format: date-time
          description: From when this price is effective.

    GpuPricingListItem:
      type: object
      additionalProperties: false
      required:
        - pricing
        - immutableFrom
      properties:
        pricing:
          $ref: '#/components/schemas/GpuPricing'
        immutableFrom:
          type: string
          format: date-time
          nullable: true
          description: >
            The instant this price locks (effectiveFrom minus the 7-day minimum
            notice window), while that instant is still in the future — the
            price can still be updated or deleted until then. `null` once that
            instant has passed: the price is permanently locked and can no
            longer be modified or deleted.

    GpuPricingUpdate:
      type: object
      minProperties: 1
      description: >
        Partial update of a scheduled price. Omitted fields are left unchanged. Only a price
        whose current effectiveFrom is still more than 7 days away can be edited. At least one
        field must be supplied.
      additionalProperties: false
      properties:
        perSecond:
          type: string
          minLength: 1
          pattern: '^\d+\.\d+$'
          description: >
            Price per GPU per second in USD major units as an exact decimal
            string (e.g. "0.000767"). Stored and billed from nanodollars
            internally; the platform bills in USD only.
          example: "0.000767"
        effectiveFrom:
          type: string
          format: date-time
          description: From when this price is effective.

    GpuTypeCreatePricing:
      type: object
      additionalProperties: false
      required:
        - perSecond
      properties:
        perSecond:
          type: string
          minLength: 1
          pattern: '^\d+\.\d+$'
          description: >
            Price per GPU per second in USD major units as an exact decimal
            string (e.g. "0.000767"). Stored and billed from nanodollars
            internally; the platform bills in USD only.
          example: "0.000767"

    GpuPricingCreate:
      type: object
      additionalProperties: false
      required:
        - perSecond
        - effectiveFrom
      properties:
        perSecond:
          type: string
          minLength: 1
          pattern: '^\d+\.\d+$'
          description: >
            Price per GPU per second in USD major units as an exact decimal
            string (e.g. "0.000767"). Stored and billed from nanodollars
            internally; the platform bills in USD only.
          example: "0.000767"
        effectiveFrom:
          type: string
          format: date-time
          description: From when this price is effective.

    GpuType:
      type: object
      required:
        - id
        - name
        - memory
        - availability
        - pricing
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/GpuTypeId'
          description: >
            Public catalogue code referenced by `gpuType` in worker configuration
            (not the internal database row UUID).
        name:
          type: string
          minLength: 1
          pattern: '^\S(.*\S)?$'
          example: H100
        memory:
          type: string
          minLength: 1
          pattern: '^\S(.*\S)?$'
          description: Human-readable memory capacity.
          example: 80 GB HBM
        availability:
          $ref: '#/components/schemas/GpuAvailability'
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: Retirement time, returned only in the Runware catalogue view.
        pricing:
          allOf:
            - $ref: '#/components/schemas/GpuPricing'
          description: >
            The price currently in effect — the most recent price whose
            effectiveFrom is not in the future. The Runware principal can
            read the full price history, including scheduled future
            changes, from `GET /v1/gpu-types/{gpuTypeId}/prices`.

    GpuTypeCreate:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - memory
        - availability
        - pricing
        - sortOrder
      properties:
        id:
          allOf:
            - $ref: '#/components/schemas/GpuTypeId'
          description: >
            Immutable public catalogue code. Must be unique across the catalogue.
        name:
          type: string
          minLength: 1
          pattern: '^\S(.*\S)?$'
          example: H100
        memory:
          type: string
          minLength: 1
          pattern: '^\S(.*\S)?$'
          description: Human-readable memory capacity.
          example: 80 GB HBM
        availability:
          $ref: '#/components/schemas/GpuAvailability'
        pricing:
          $ref: '#/components/schemas/GpuTypeCreatePricing'
        sortOrder:
          type: integer
          format: int32
          minimum: 0
          description: >
            Display / catalogue ordering. Lower values sort first in `GET /v1/gpu-types`.

    GpuTypeUpdate:
      type: object
      minProperties: 1
      description: >
        Partial update of a catalogue entry. Omitted fields are left unchanged. The catalogue
        code itself is immutable and addressed via the path parameter. At least one field must
        be supplied.
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          pattern: '^\S(.*\S)?$'
        memory:
          type: string
          minLength: 1
          pattern: '^\S(.*\S)?$'
        availability:
          $ref: '#/components/schemas/GpuAvailability'
        sortOrder:
          type: integer
          format: int32
          minimum: 0

    GpuTypeList:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GpuType'

    # ---- Pagination --------------------------------------------------------
    Page:
      type: object
      properties:
        nextCursor:
          type: string
          nullable: true
          description: Cursor for the next page; null when there are no more items.

    # ---- Money -------------------------------------------------------------
    Currency:
      type: string
      description: ISO 4217 alphabetic code. The platform bills in USD only.
      enum:
        - USD

    MoneyAmount:
      type: object
      description: >
        A monetary amount as an exact decimal string in the currency's major
        unit. Money is never represented as a float (see `GpuPricing.perSecond`).
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
          pattern: '^\d+\.\d+$'
          description: Amount in major units as an exact decimal string.
          example: "312.40"
        currency:
          $ref: '#/components/schemas/Currency'

    # ---- Core resources ----------------------------------------------------
    AppSummary:
      type: object
      description: >
        Aggregate dashboard metrics for every app in the authenticated
        organisation. App and worker tallies are always present (zero when
        empty). Traffic and spend metrics whose backing system is not yet
        available are omitted (rendered as "no data" by the frontend) rather
        than reported as zero.
      required:
        - totalApps
        - activeApps
        - activeWorkers
        - provisionedGpuCount
        - calculatedAt
      properties:
        activeApps:
          type: integer
          format: int64
          description: Apps currently in the `active` status.
        totalApps:
          type: integer
          format: int64
          description: All apps in the organisation excluding soft-deleted ones.
        activeWorkers:
          type: integer
          format: int64
          description: >
            Non-terminal workers (`status` other than `stopped`) across every
            app in the organisation.
        provisionedGpuCount:
          type: integer
          format: int64
          description: >
            Sum of `gpuCount` across those same non-terminal workers.
        requests24h:
          type: integer
          format: int64
          description: Requests served in the last 24h. Omitted until request metrics are available.
        errorRate24h:
          type: number
          format: double
          description: Error ratio (0–1) over the last 24h. Omitted until request metrics are available.
        spendToday:
          allOf:
            - $ref: '#/components/schemas/MoneyAmount'
          description: >
            Estimated spend since 00:00 UTC. Omitted until billing rollups are
            available.
        calculatedAt:
          type: string
          format: date-time
          description: When these metrics were computed.

    App:
      type: object
      required:
        - appId
        - appName
        - configuration
        - secrets
        - environmentVariables
        - status
        - isFavourite
        - createdAt
        - updatedAt
      properties:
        appId:
          $ref: '#/components/schemas/AppId'
        appName:
          $ref: '#/components/schemas/AppName'
        configuration:
          allOf:
            - $ref: '#/components/schemas/WorkerConfig'
          description: Live worker configuration. Updated via `PATCH /apps/{appId}`.
        secrets:
          type: array
          description: >
            Secrets attached to this app, including any env-var name
            override. Populated on single-app responses; list of
            apps returns an empty array to avoid an N+1 — use
            `/apps/{appId}/secrets` to page the set.
          items:
            $ref: '#/components/schemas/SecretAttachment'
        environmentVariables:
          type: array
          description: >
            Plain-text environment variables for this app. Populated on
            single-app responses (get, update, stop, resume, delete,
            deploy, favourite). List of apps returns an empty array to
            avoid an N+1 per page row — use the `/environment-variables`
            endpoints to page the set.
          items:
            $ref: '#/components/schemas/EnvironmentVariable'
        status:
          $ref: '#/components/schemas/AppStatus'
        isFavourite:
          type: boolean
          description: >
            Whether the authenticated organisation has favourited this app. Drives the
            console Favourites section; toggled via `PUT`/`DELETE`
            `/v1/apps/{appId}/favourite`.
        activeVersionId:
          type: string
          format: uuid
          nullable: true
          description: Current deployed version; null until the first version is successfully deployed.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AppVolume:
      type: object
      additionalProperties: false
      required:
        - mountPath
      properties:
        mountPath:
          type: string
          minLength: 2
          maxLength: 2048
          pattern: '^/[A-Za-z0-9._/+@-]+$'
          description: >
            Absolute path exposed inside the sandboxed application. The path is the
            volume's stable identity and is mirrored below the app's node-local
            data directory. Root, duplicate, and overlapping paths are rejected.

    AppCreate:
      type: object
      # Unknown fields are rejected rather than ignored: a stale client sending a
      # field that has moved (e.g. the top-level `computeType`, now inside
      # `configuration`) must fail loudly instead of silently getting the default.
      additionalProperties: false
      required:
        - appId
        - appName
        - configuration
        - appSource
      properties:
        appId:
          $ref: '#/components/schemas/AppId'
        appName:
          $ref: '#/components/schemas/AppName'
        configuration:
          $ref: '#/components/schemas/WorkerConfigCreate'
        appSource:
          allOf:
            - $ref: '#/components/schemas/AppSourceUpsert'
          description: >
            Write-only. Source for the app's first version; not returned in the App response.
            Use the `/builds` endpoints to inspect build status.

            - `code`: the codebase is submitted to the build pipeline; a new image is built and
              deployed once ready.

            - `container`: no build step — the version names the image reference supplied here.
              No worker runs from a container source yet, so the app stays `initializing`.

            Either way the version is recorded with the app. A code-source app transitions
            to `active` once its first version is ready, or to `failed` if the build, validation,
            or rollout fails.
        secrets:
          type: array
          description: >
            Existing organisation secrets to attach to this app, with an
            optional env-var name override per entry. Not persisted yet —
            supplying this field returns `422`, rather than accepting a set
            nothing attaches to the workload. Shape matches
            `POST /apps/{appId}/secrets` so create and attach
            share one contract. When wired, each injected name must not collide
            with a key in `environmentVariables` (or an existing
            `deployment_configs` row) — see `SecretAttach`.
          items:
            $ref: '#/components/schemas/SecretAttach'
        environmentVariables:
          type: object
          description: >
            Map with environment variables. Keys are the environment variable names,
            values are the environment variable values. Use the dedicated
            `/environment-variables` endpoints to change them after the app exists.

            Each key must satisfy `EnvironmentVariableName` — POSIX-style, at most 128
            characters. OpenAPI 3.0 cannot constrain map keys, so a bad one is rejected
            by the server rather than by the schema. Keys must also not collide with
            a secret's injected env var name on the same app (see
            `attachAppSecret`).
          maxProperties: 100
          additionalProperties:
            type: string
            maxLength: 4096
        volumes:
          type: array
          maxItems: 30
          items:
            $ref: '#/components/schemas/AppVolume'
          description: >
            Persistent node-local directories bind-mounted through the checkpointer into
            the sandboxed application. Use these for downloaded weights and caches that
            must stay outside the checkpointed root filesystem. Paths must be unique and
            non-overlapping. The set is frozen into each immutable app version.
        endpoints:
          type: array
          description: >
            Invocable routes to expose on the app. Paths are unique within an
            app: repeating one in this array is rejected rather than collapsed,
            since there would be no answer to which entry a request meant.
          uniqueItems: true
          maxItems: 20
          items:
            $ref: '#/components/schemas/EndpointCreate'

    AppUpdate:
      type: object
      description: >
        Updates one or more aspects of an app in place. All fields are optional;
        omitted fields are left unchanged. Lifecycle transitions (stop/resume/delete/deploy)
        use their dedicated operations.

        A successful update records a new version carrying the updated configuration and the
        same image, so what to deploy is always a version rather than the current state of a
        mutable row. `activeVersionId` does not move: the running workload is unchanged until
        that version is deployed.

        **Currently applied:** `appName` and `configuration`. Supplying
        `appSource`, `secrets`, `environmentVariables`, or `endpoints` returns `422`
        (bulk env-var replace is not wired — use the dedicated `/environment-variables`
        endpoints for individual keys). When wired, configuration/secret/endpoint changes
        take effect on the next Scaler cycle; `appSource` triggers a new build and
        rollout.
      additionalProperties: false
      properties:
        appName:
          allOf:
            - $ref: '#/components/schemas/AppName'
          description: >
            Mutable display name; does not affect app identity or routing.
            Omit to leave unchanged — an explicit blank value is rejected, not
            treated as a clear.
        configuration:
          $ref: '#/components/schemas/WorkerConfigPatch'
        appSource:
          allOf:
            - $ref: '#/components/schemas/AppSourceUpsert'
          description: >
            Write-only. New source to build and deploy; not returned in the App response.
            Use the `/builds` endpoints to inspect build status. Triggers a build (for `code`
            sources) or image validation (for `container` sources); on success the resulting
            version is deployed automatically. On failure the app remains on the previous
            version. Not persisted yet — supplying this field returns `422`.
        secrets:
          type: array
          description: >
            Replaces the app's secret attachments. Same `SecretAttach`
            shape as create and
            `POST /apps/{appId}/secrets`. Not persisted yet —
            supplying this field returns `422`. When wired, injected names must
            not collide with plain environment variables on the app.
          items:
            $ref: '#/components/schemas/SecretAttach'
        environmentVariables:
          type: object
          description: >
            Map with environment variables. Keys are the environment variable names, values
            are the environment variable values. Setting the value of an environment variable
            to null deletes the environment variable from the app. Not persisted yet —
            supplying this field returns `422`.
          additionalProperties:
            type: string
            nullable: true
        endpoints:
          type: array
          description: >
            Replaces the app's endpoints. Not persisted yet — supplying this field
            returns `422`.
          items:
            $ref: '#/components/schemas/EndpointCreate'

    WorkerConfig:
      type: object
      required:
        - id
        - appId
        - computeType
        - gpusPerWorker
        - minWorkers
        - maxWorkers
        - idleTtlSecs
        - scalingDelaySecs
        - concurrency
      properties:
        id:
          type: string
          format: uuid
        appId:
          $ref: '#/components/schemas/AppId'
        computeType:
          $ref: '#/components/schemas/ComputeType'
        gpuType:
          type: string
          allOf:
            - $ref: '#/components/schemas/GpuTypeId'
          nullable: true
          description: >
            Preferred GPU type. Absent (or null) only on historical
            apps created before a GPU type was required.
        fallbackGpuType:
          type: string
          allOf:
            - $ref: '#/components/schemas/GpuTypeId'
          nullable: true
          description: Secondary GPU type used if the preferred type is unavailable.
        gpusPerWorker:
          type: integer
          format: int32
          default: 1
        minWorkers:
          type: integer
          format: int32
          default: 0
          minimum: 0
          description: Floor for scale-down; 0 = scale to zero.
        maxWorkers:
          type: integer
          format: int32
          minimum: 1
        minAvailableWorkers:
          type: integer
          format: int32
          nullable: true
          minimum: 0
          description: Minimum number of available (idle) workers kept as a pre-emptive buffer.
        availableWorkersPct:
          type: integer
          format: int32
          nullable: true
          description: Scaling buffer as a percentage of incoming task load.
        idleTtlSecs:
          type: integer
          format: int32
          description: Seconds a worker can sit idle before the Scaler removes it.
        scalingDelaySecs:
          type: integer
          format: int32
          description: Cooldown between consecutive scaling decisions.
        concurrency:
          type: integer
          format: int32
          default: 1
          description: Max tasks a single worker handles simultaneously.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    WorkerConfigCreate:
      type: object
      additionalProperties: false
      required:
        - gpuType
        - maxWorkers
        - idleTtlSecs
        - scalingDelaySecs
      properties:
        computeType:
          allOf:
            - $ref: '#/components/schemas/ComputeType'
          default: 'gpu'
          description: >
            GPU is the only supported compute type. Omitting the field selects
            GPU. CPU workloads are not supported; a request that names `cpu` is
            rejected with 422 before a build or deploy starts.
        gpuType:
          type: string
          allOf:
            - $ref: '#/components/schemas/GpuTypeId'
          description: >
            GPU type the workers run on. Required: omitting it (or sending
            null) is a 422 before a build or deploy starts, because a GPU
            app with no type is unpinned and the deployer would render
            NVIDIA defaults. Must match an `id` returned by `GET /v1/gpu-types`
            that currently has admitted capacity.
        fallbackGpuType:
          type: string
          allOf:
            - $ref: '#/components/schemas/GpuTypeId'
          nullable: true
        gpusPerWorker:
          type: integer
          format: int32
          minimum: 0
          default: 1
        minWorkers:
          type: integer
          format: int32
          minimum: 0
          default: 0
        maxWorkers:
          type: integer
          format: int32
          minimum: 1
        minAvailableWorkers:
          type: integer
          format: int32
          minimum: 0
          nullable: true
        availableWorkersPct:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          nullable: true
        idleTtlSecs:
          type: integer
          format: int32
          minimum: 1
        scalingDelaySecs:
          type: integer
          format: int32
          minimum: 1
        concurrency:
          type: integer
          format: int32
          minimum: 1
          default: 1

    WorkerConfigPatch:
      type: object
      description: >
        Partial worker configuration. Any field present overwrites the live value; omitted
        fields are left unchanged. Clearing a nullable live field (setting it to null) is not
        supported — omit the field to leave it unchanged. `computeType` is create-time only and
        cannot be patched. Changing `gpuType` or `gpusPerWorker` affects only newly created workers.
      additionalProperties: false
      properties:
        gpuType:
          type: string
          allOf:
            - $ref: '#/components/schemas/GpuTypeId'
          description: >
            Preferred GPU type. Omit to leave unchanged. Rejected with a 422
            when no capacity is currently offered for the type (it does not
            appear in `GET /v1/gpu-types`).
        fallbackGpuType:
          type: string
          allOf:
            - $ref: '#/components/schemas/GpuTypeId'
          description: Secondary GPU type. Omit to leave unchanged.
        gpusPerWorker:
          type: integer
          format: int32
          minimum: 0
        minWorkers:
          type: integer
          format: int32
          minimum: 0
        maxWorkers:
          type: integer
          format: int32
          minimum: 1
        minAvailableWorkers:
          type: integer
          format: int32
          minimum: 0
          description: Pre-emptive idle-worker buffer. Omit to leave unchanged.
        availableWorkersPct:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          description: Scaling buffer as a percentage of load. Omit to leave unchanged.
        idleTtlSecs:
          type: integer
          format: int32
          minimum: 1
        scalingDelaySecs:
          type: integer
          format: int32
          minimum: 1
        concurrency:
          type: integer
          format: int32
          minimum: 1

    Version:
      type: object
      description: >
        An immutable record of what to deploy. One is created with the app and one on
        every update, so a rollout always names a version rather than reading configuration
        that may since have changed.
      required:
        - id
        - appId
        - versionNumber
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        appId:
          $ref: '#/components/schemas/AppId'
        versionNumber:
          type: integer
          format: int32
          description: Monotonically increasing per app.
        buildId:
          type: string
          format: uuid
          nullable: true
          description: >
            The build that produced this version's image. Null for a `container` source,
            which names an image the customer already built and so has no build. A version
            created by an update carries the image, and therefore this build, forward.
        createdAt:
          type: string
          format: date-time

    Build:
      type: object
      description: Details of a code build or container validation.
      required:
        - id
        - status
      properties:
        id:
          type: string
          format: uuid
        status:
[...]
