openapi: 3.0.3
servers:
  - url: https://api.serverless.runware.ai

info:
  title: Serverless API
  version: 0.6.0
  license:
    name: Proprietary
  description: >
    Control plane and task-ingestion API for the Runware Serverless platform.

    A Runware organisation is the tenant boundary. Apps are addressed as
    `/v1/apps/{appId}` and endpoints are invoked as
    `/v1/apps/{appId}/invoke-async/{endpointPath}` (async invocation) or
    `/v1/apps/{appId}/invoke-sync/{endpointPath}` (sync invocation).


    Two authentication schemes are accepted, both as bearer tokens. A Runware API key
    (CLI and SDK) is validated against the existing Runware platform server-to-server; the
    key identifies the organisation. An org-scoped JWT (web app) is minted by the Runware
    platform for one user acting in one organisation and verified locally against the
    platform's published JWKS. Resources are always scoped to the authenticated
    organisation, whichever scheme carried it. Task ingestion and task reads accept the
    API key only.

security:
  - ApiKeyAuth: []
  - OrgJwtAuth: []

tags:
  - name: Tasks
    description: Submit work to app endpoints and inspect task status
  - name: Apps
    description: Manage apps and their lifecycle
  - name: SourceUploads
    description: >
      Stage a source archive, then read the immutable source a completed upload
      publishes for app create and update
  - name: Builds
    description: Immutable builds
  - name: Versions
    description: App versions produced by successful builds
  - name: Endpoints
    description: Named endpoints exposed by an app
  - name: Compute
    description: Compute hardware catalogues (GPU types) and pricing
  - name: Workers
    description: Running worker instances (read-only runtime state)
  - name: Secrets
    description: Organisation-scoped encrypted secrets
  - name: EnvironmentVariables
    description: Plain-text environment variables scoped to an app
  - name: Observability
    description: Usage, events and errors
  - name: Tenancy
    description: >
      Platform-only organisation tenancy (ADR-019). Restricted to the Runware
      platform organisation. Admin-api calls these when serverlessAccess changes.

paths:
  # ---------------------------------------------------------------------------
  # Compute (GPU catalogue)
  # ---------------------------------------------------------------------------
  /v1/gpu-types:
    get:
      tags:
        - Compute
      summary: List supported GPU types and their pricing
      description: >
         Returns the global GPU type catalogue and pricing. The request requires authentication.
         Customer principals receive only GPU types with capacity currently offered to customers;
         a type whose hardware is not yet cleared for customer workloads is omitted. The Runware
         principal receives the full catalogue, including retired types and types not yet offered.
         Retired entries carry `deletedAt`. Each entry's `pricing` is the price currently in effect;
         the Runware principal can read the full price
         history, including scheduled future changes, from
         `GET /v1/gpu-types/{gpuTypeId}/prices`.
      operationId: listGpuTypes
      responses:
        '200':
          description: GPU type catalogue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GpuTypeList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Compute
      summary: Add a GPU type to the catalogue
      description: >
        Creates a new entry in the global GPU type catalogue. Restricted to the Runware platform
        organization. The `id` (catalogue code) is immutable and remains reserved after retirement.
      operationId: createGpuType
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GpuTypeCreate'
      responses:
        '201':
          description: GPU type created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GpuType'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/gpu-types/{gpuTypeId}:
    get:
      tags:
        - Compute
      summary: Get a GPU type from the catalogue
      description: >
        Returns an active entry from the global GPU type catalogue. Retired entries return `404`.
        The result is not organisation-specific, but the request still requires authentication.
      operationId: getGpuType
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
      responses:
        '200':
          description: The GPU type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GpuType'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    patch:
      tags:
        - Compute
      summary: Update a GPU type in the catalogue
      description: >
        Updates mutable fields of an active GPU type. Restricted to the Runware platform organization.
        The catalogue code (`gpuTypeId`) cannot be changed; retired entries return `404`.
      operationId: updateGpuType
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GpuTypeUpdate'
      responses:
        '200':
          description: Updated GPU type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GpuType'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Compute
      summary: Retire a GPU type from the catalogue
      description: >
        Soft-deletes a GPU type while preserving its code and price history. Restricted to the
        Runware platform organization. Returns `409` if a worker configuration or GPU pool still
        references the code. Retiring an already retired code returns `404`.
      operationId: deleteGpuType
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
      responses:
        '204':
          description: GPU type retired
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/gpu-types/{gpuTypeId}/prices:
    get:
      tags:
        - Compute
      summary: List historical and future prices of a GPU type
      description: >
        Returns a page of a GPU type's prices, ordered by effectiveFrom. Restricted to the Runware
        platform organization: the page includes retired types and prices that are scheduled but not yet in effect.
        Customers read the price currently in effect from `GET /v1/gpu-types`.
      operationId: listGpuTypePrices
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of prices for the GPU type
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/GpuPricingListItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'
    post:
      tags:
        - Compute
      summary: Schedule a new price for a GPU type
      description: >
        Schedules a new price to take effect at `effectiveFrom`. Restricted to the Runware platform
        organization. `effectiveFrom` must normally be more than 7 days in the future. Before a GPU
        type is admitted or used, a later price can be added inside that window to correct its initial
        price. This preserves the original row and records the correction as a superseding price.
        Retired types return `404`; other values inside the notice window return `422`.
        Returns `409` if the GPU type already has a price scheduled at that exact instant.
      operationId: createGpuTypePrice
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GpuPricingCreate'
      responses:
        '201':
          description: Price scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GpuPricing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/gpu-types/{gpuTypeId}/prices/{priceId}:
    patch:
      tags:
        - Compute
      summary: Update a scheduled price for a GPU type
      description: >
        Partially updates a scheduled price. Restricted to the Runware platform organization.
        Only a price whose current `effectiveFrom` is still more than 7 days in the future can be
        edited — once inside that window the price is locked in and this returns `409`. A
        supplied `effectiveFrom` must itself be more than 7 days in the future, returning `422`
        otherwise. Retired GPU types return `404`. Returns `409` if the update collides with
        another price already scheduled at that exact instant.
      operationId: updateGpuTypePrice
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
        - name: priceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GpuPricingUpdate'
      responses:
        '200':
          description: Price updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GpuPricing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Compute
      summary: Remove a scheduled price for a GPU type
      description: >
        Deletes a scheduled price. Restricted to the Runware platform organization. Only a price
        whose effectiveFrom is still more than 7 days in the future can be deleted — once inside that
        window the price is locked in (about to take effect, or already has) and this returns
        `409`. Retired GPU types return `404`.
      operationId: deleteGpuTypePrice
      parameters:
        - $ref: '#/components/parameters/GpuTypeId'
        - name: priceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Price deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Tasks
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/invoke-async/{endpointPath}:
    post:
      tags:
        - Tasks
      summary: Start a new async task
      description: >
        Starts a new async task on `appId`, routing the request body payload to an available
        worker. The task runs asynchronously and the response is `202`; poll
        `GET /v1/apps/{appId}/tasks/{taskId}` for completion. Resubmitting a task id is
        answered with the task it already names rather than starting a second one, so the
        `202` can carry a task that has already finished: read its `status` instead of
        assuming `pending`, and note it may name a different `appId`. Apps in
        `initializing`, `active`, or `stopping` accept invocation. `stopped`, `deleting`, and
        `failed` return `409 Conflict`; unknown or deleted apps return `404 Not Found`. An
        organisation whose serverless tenancy is revoked, or has no tenancy receipt
        at all, returns `403 Forbidden`, distinguishing that from an app that does
        not exist. An organisation whose tenancy is still being provisioned
        returns `503 Service Unavailable` instead — that state is retryable, not a
        revocation, and clears once provisioning finishes.
        Endpoint membership is checked against the active version's endpoint set before
        the task is accepted: an endpoint the app does not declare returns `404` whose
        `endpointPath` extension member carries the rejected path, distinguishing it
        from an unknown app, and the task never enters the queue.
      operationId: startAsyncTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/EndpointPath'
      requestBody:
        $ref: '#/components/requestBodies/TaskInvocation'
      responses:
        '202':
          $ref: '#/components/responses/TaskAccepted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/apps/{appId}/invoke-sync/{endpointPath}:
    post:
      tags:
        - Tasks
      summary: Start a new sync task
      description: >
        Starts a new sync task on `appId`, routing the request body payload to an available
        worker. The request blocks until the task is terminal and returns the result inline (`200`).
        Resubmitting a task id waits on the task it already names rather than starting a second
        one, so the `200` carries that task's result and may name a different `appId` — poll it
        under the one returned. A task that outlives the wait window is **not** a failure: the
        task is still queued or running, and the response is `202` carrying that task with
        `status: pending` — the same shape `invoke-async` returns, and it names the owning
        `appId` on a resubmission just as the `200` does. Poll
        `GET /v1/apps/{appId}/tasks/{taskId}` for its result. A request the platform cannot
        attribute to an accepted task fails instead, with no task to poll. Apps in
        `initializing`, `active`, or `stopping` accept invocation. `stopped`, `deleting`, and
        `failed` return `409 Conflict`; unknown or deleted apps return `404 Not Found`. An
        organisation whose serverless tenancy is revoked, or has no tenancy receipt
        at all, returns `403 Forbidden`, distinguishing that from an app that does
        not exist. An organisation whose tenancy is still being provisioned
        returns `503 Service Unavailable` instead — that state is retryable, not a
        revocation, and clears once provisioning finishes. Endpoint
        membership is checked against the active version's endpoint set before the task
        is accepted: an endpoint the app does not declare returns `404` whose
        `endpointPath` extension member carries the rejected path, distinguishing it
        from an unknown app, and the task never enters the queue.
      operationId: startSyncTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/EndpointPath'
      requestBody:
        $ref: '#/components/requestBodies/TaskInvocation'
      responses:
        '200':
          $ref: '#/components/responses/Task'
        '202':
          $ref: '#/components/responses/TaskAccepted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/apps/{appId}/tasks/{taskId}:
    get:
      tags:
        - Tasks
      summary: Get a task
      description: >
        Returns the task's current status, read through the inference transport layer from the
        shared result store. When `completed`, includes the result `output` and `completedAt`;
        when `failed`, includes `error`; when `pending`, neither is set. If the app is
        `stopped`, `deleting`, or `failed`, accepted task results stay readable. A `404 Not Found`
        means the task cannot currently be verified for this app. Because enqueue-time
        ownership tracking is best effort, a recently returned task ID can temporarily return
        `404`; retry it within the normal polling window. Unknown or deleted apps also
        return `404 Not Found`.
      operationId: getTask
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: taskId
          in: path
          required: true
          description: Task identifier, supplied by the caller when the task was submitted.
          schema:
            $ref: '#/components/schemas/TaskId'
      responses:
        '200':
          $ref: '#/components/responses/Task'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/apps/{appId}/tasks:
    get:
      tags:
        - Tasks
      summary: List tasks for an app
      description: >
        Lists TTL-bounded asynchronous task metadata for this app so a client
        can recover task ids after an interrupted long-poll or CLI session. Pending
        includes queued, running and retrying work. Tasks appear only within the
        configured recovery window. A page can be empty and still have `nextCursor`;
        continue until it is null. Pending entries are best effort and may disappear
        if the recovery store restarts; tracked tasks reappear on completion. This is
        not persisted task history. A task id names one task, so resubmitting one
        does not add a second entry here. If the app is `stopped`, `deleting`, or `failed`,
        recovery stays available. Unknown or deleted apps return `404 Not Found`.
      operationId: listTasks
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/TaskStatus'
      responses:
        '200':
          description: A page of tasks
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Apps
  # ---------------------------------------------------------------------------
  /v1/apps:
    get:
      tags:
        - Apps
      summary: List apps
      description: >
        Returns a page of the organisation's apps. Filters combine with AND; soft-deleted
        apps are excluded unless `status=deleted` is requested explicitly. Favourited apps
        appear before non-favourited apps, with the selected ordering applied within each group.


        A `cursor` is only valid for the `sort` and filters it was issued under — reusing one
        across a different ordering or filter set returns `400`.
      operationId: listApps
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          description: Return only apps in this status.
          schema:
            $ref: '#/components/schemas/AppStatus'
        - name: q
          in: query
          required: false
          description: >
            Case-insensitive substring match against `appName` and `appId`.
            An app matching either is returned.
          schema:
            type: string
            minLength: 1
            maxLength: 100
        - name: gpuType
          in: query
          required: false
          description: >
            Return only apps whose worker configuration requests this GPU type.
            Matched against `configuration.gpuType` only, not `fallbackGpuType`. Must be a
            code from `GET /v1/gpu-types`; an unknown code returns `422`.
          schema:
            $ref: '#/components/schemas/GpuTypeId'
        - name: sort
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/AppSort'
      responses:
        '200':
          description: A page of apps
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/App'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
    post:
      tags:
        - Apps
      summary: Create an app
      description: >
        Creates an app together with its worker configuration, environment variables and
        endpoints, and records version `1` — the immutable description of what to deploy. The
        app starts in `initializing`, and what happens next depends on the app
        source type:


        - `code` source: the codebase is submitted to the build pipeline; once the image is built
          and workers become healthy the app transitions to `active` and `activeVersionId`
          points at that version. If the build, validation, or rollout fails the app is
          marked `failed`.

        - `container` source: the submitted zip (wrapper `Dockerfile` + `container.yaml`)
          goes through the same build pipeline — the wrapper image is built, published and
          deployed, so the version carries a `buildId` and the app follows the same
          lifecycle as a code source. An invalid `container.yaml` rejects the create
          before any build capacity is spent — `400` where the document could not be
          parsed at all, `422` where it parsed and broke a rule.


        `activeVersionId` is null until a rollout completes: a version records what should run,
        and only a finished deploy says what does.


        `secrets` attaches organisation secrets that already exist. It is the app's initial
        attachment set, so the first rollout carries their values into the worker. This
        route does not create a secret — use `POST /v1/secrets` first. A name that is
        unknown to the organisation, or that is not `active`, returns `404`. A name that
        collides with a key in `environmentVariables`, a repeated name and a set that goes
        past the binding limit each return `422`. The whole set is checked before any build
        capacity is spent.
      operationId: createApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCreate'
      responses:
        '201':
          description: App created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/apps/{appId}:
    get:
      tags:
        - Apps
      summary: Get an app
      description: >
        Returns the app the authenticated organisation owns under this `appId`. An unknown
        app and a soft-deleted one both return `404 Not Found`: a deleted app is gone to
        its owner, and its rows are retained only for billing and audit. To read deleted
        apps, list them with `status=deleted`.
      operationId: getApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: The app
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Apps
      summary: Update an app
      description: >
        Patches one or more aspects of an app in place. All fields are optional; omitted
        fields are left unchanged. Valid in any non-`deleted` status, including `stopped`
        (changes apply on `resume`). Lifecycle transitions use the dedicated `deploy`, `stop`,
        `resume`, and `delete` operations.

        A configuration or `environmentVariables` change records a new version with
        the same image. If that image is deployable, the update pins it as
        `activeVersionId` and rolls the workload when the app is `active` or
        `initializing`. A `failed` app is moved to `initializing` and rolled, the
        same as `POST /deploy`. If the image is not deployable, the version is
        recorded and `activeVersionId` is left unchanged. If the roll fails,
        `activeVersionId` is restored and the previous configuration keeps serving.
        A name-only change records a version and does not pin. A `stopped` or
        `stopping` app pins the version and rolls it on `resume`. A
        configuration, `environmentVariables`, or `appSource` change while a
        create or resume rollout is already in progress returns `409 Conflict`.
        A name-only or `secrets`-only change does not.

        `appSource` starts a build and records version N+1 with a new image tag.
        The deploy queue carries the build-then-deploy tail; `activeVersionId`
        moves only when that rollout completes. A builder rejection (400 where
        a container document's parser refused it, 422 where it parsed and broke
        a rule) leaves the app on its current version and writes no version row
        and no build row. After the builder accepts, version N+1 is recorded
        even if a concurrent secret deactivation or env/secret collision
        prevents this request's env/secrets overlay; in that case the previous
        environmentVariables and attachment set stay in place and are what the
        new version snapshots.

        `environmentVariables` replaces the whole set: a key absent from the map
        is deleted, and a null value omits that key from the new set. The
        resolved map is snapshotted onto the new version.

        `secrets` replaces the whole attachment set. An attachment absent from
        the array is detached. Injected names must not collide with a plain
        environment variable on the app; the combined set of plain variables and
        attachments is capped at 100. This is a control-plane record only —
        secret values do not reach a pod, and the version snapshot carries no
        secrets — so a secrets-only change does not roll the workload.

        Endpoints are not a field of this contract: the set belongs to the app
        source, so it changes only when a new version with a new source builds
        and deploys.
      operationId: updateApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppUpdate'
      responses:
        '200':
          description: Updated app
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Apps
      summary: Delete an app
      description: >
        Soft delete. Sets `status = deleting` and returns `202` once that intent is persisted.
        Router removal, cancelling in-progress builds, and worker drain
        (`draining → stopping → stopped`) are performed asynchronously by the deployer/Scaler;
        `status` becomes `deleted` once all workers stop. All rows are retained for billing
        finalisation, audit, and usage history. Idempotent if the app is already
        `deleting`.


        The `appId` is released once `status` reaches `deleted`, and not before: while the app
        is `deleting` its workload is still being torn down and the name stays taken. A new app
        created under a released name is a new app and inherits nothing — no version, no build,
        no event history, and no workers.
      operationId: deleteApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '202':
          description: Delete accepted; status is deleting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/source-uploads:
    post:
      tags:
        - SourceUploads
      summary: Create a source upload
      description: >
        Creates an upload session for a source archive. The session belongs to the
        authenticated organization and names no app: an upload precedes any app, and the
        source it publishes may back several. The response contains a short-lived transfer
        instruction for one exact staging object. Repeating the request with the same
        idempotency key and declaration while the session is pending and unexpired returns
        the same upload resource with a refreshed transfer instruction. Replays with a
        different declaration, or after the session becomes ready, rejected, expired, or
        deleted, return `409`.
      operationId: createSourceUpload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceUploadCreate'
      responses:
        '201':
          description: Source upload created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceUploadCreation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/source-uploads/{uploadId}:
    get:
      tags:
        - SourceUploads
      summary: Get a source upload
      description: >
        Returns the upload session belonging to the authenticated organization. Once the
        upload is `ready` the session carries the `sourceId` it published. An upload
        belonging to another organization returns `404`.
      operationId: getSourceUpload
      parameters:
        - $ref: '#/components/parameters/SourceUploadId'
      responses:
        '200':
          description: Source upload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceUpload'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags:
        - SourceUploads
      summary: Abort a source upload
      description: >
        Aborts an upload that has not published its source and removes its staging object.
        The session remains as a deleted tombstone so its staging key cannot be reused.
        Repeating a successful abort is idempotent. A `ready` upload cannot be aborted: the
        source it published is a resource in its own right, and the request answers `409`
        with type `source-upload-completed`.
      operationId: deleteSourceUpload
      parameters:
        - $ref: '#/components/parameters/SourceUploadId'
      responses:
        '204':
          description: Source upload aborted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/source-uploads/{uploadId}/complete:
    post:
      tags:
        - SourceUploads
      summary: Complete a source upload
      description: >
        Verifies the staging object's length, content type, and SHA-256 digest against the
        session declaration, applies the archive rules for the source type, and publishes
        the verified bytes as an immutable source artifact. The first success creates the
        source and returns the ready session carrying its `sourceId`; a retry returns the
        same session and the same `sourceId`. A rejected upload keeps its rejection so later
        retries return the same result.
      operationId: completeSourceUpload
      parameters:
        - $ref: '#/components/parameters/SourceUploadId'
      responses:
        '200':
          description: Source upload ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceUpload'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/sources/{sourceId}:
    get:
      tags:
        - SourceUploads
      summary: Get a source
      description: >
        Returns the immutable source artifact a completed upload published: its type and
        the length and digest upload completion verified. A source is organization-scoped
        and may be named by any number of apps and versions in that organization; one
        belonging to another organization returns `404`. There is no list and no delete.
      operationId: getSource
      parameters:
        - $ref: '#/components/parameters/SourceId'
      responses:
        '200':
          description: Source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/apps/{appId}/deploy:
    post:
      tags:
        - Apps
      summary: Deploy a version
      description: >
        Activates a `ready` version by number, setting `activeVersionId` and returning `202`
        once that intent is persisted. Worker rollout, routing switch, and cancelling
        in-progress builds (`superseded`) are performed asynchronously
        by the deployer/Scaler. Permitted in any addressable status, including `initializing`
        and `failed`.

        To roll back, supply an older `versionNumber` — the operation is identical to a forward
        deploy. No new version is created and no rebuild happens: the version's existing image
        is re-applied. Re-deploying the currently active version is permitted and re-applies it.

        A deploy to a `stopped` or `stopping` app records the version and rolls no
        workload, because no workers are running: the `202` does not imply a rollout there.
        The recorded version is the one applied when the app resumes.

        If the roll of a live app fails, `activeVersionId` is restored to the version
        that kept serving, so the field keeps naming the running image.

        **Rollout** (deployer/Scaler): the platform starts workers on the target version, waits
        for at least one to become healthy, switches task routing to the new version, then
        drains old-version workers gracefully. Old workers are given a fixed, platform-managed
        grace period to finish in-flight tasks before being force-terminated. If new workers
        fail to become healthy, old workers are not drained and the app continues on the
        previous version.

        Errors:
        - Deploy to a `deleting` app returns `409 Conflict`
        - `versionNumber` not found or not `ready` returns `409 Conflict`
        - Deploy to a non-existent or `deleted` app returns `404 Not Found`
      operationId: deployVersion
      parameters:
        - $ref: '#/components/parameters/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployRequest'
      responses:
        '202':
          description: Deploy accepted; activeVersionId updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/apps/{appId}/stop:
    post:
      tags:
        - Apps
      summary: Stop an app
      description: >
        Moves the app to `stopping` and returns `202` once that intent is persisted.
        Scale-to-zero and worker drain are performed asynchronously by the Scaler; `status`
        becomes `stopped` once all workers drain. In-flight tasks have a fixed,
        platform-managed grace period to complete; workers that exceed it are force-terminated
        and their tasks return to the queue per delivery guarantees. New task submissions remain
        accepted while `stopping`; after the app reaches `stopped`, submissions return
        `409 Conflict`. Precondition: `status = active`.
      operationId: stopApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '202':
          description: Stop accepted; status is stopping
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /v1/apps/{appId}/resume:
    post:
      tags:
        - Apps
      summary: Resume an app
      description: >
        Moves the app to `initializing` and returns `202` once that intent is persisted.
        The Scaler then starts workers and sets the app to `active`; tasks that remained
        queued when the app stopped are consumed as workers come online. Precondition:
        `status = stopped`.
      operationId: resumeApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '202':
          description: Resume accepted; app is initializing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /v1/apps/{appId}/favourite:
    put:
      tags:
        - Apps
      summary: Favourite an app
      description: >
        Pins the app as a favourite for the authenticated organisation so the console
        can surface it in a Favourites section. Idempotent: favouriting an already-favourited
        app succeeds and returns the app with `isFavourite: true`. Apps
        in `deleting` or `deleted` status cannot be favourited (`404`). Soft-delete clears any
        existing pin when status becomes `deleting`.
      operationId: favouriteApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App is favourited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Apps
      summary: Unfavourite an app
      description: >
        Removes the organisation favourite pin from the app. Idempotent: unfavouriting
        an app that is not favourited succeeds and returns the app with
        `isFavourite: false`. Valid in any status including `deleting` and `deleted` — unpinning
        is not an app lifecycle mutation. Missing apps return `404`.
      operationId: unfavouriteApp
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App is not favourited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/app-summary:
    get:
      tags:
        - Apps
      summary: App summary metrics for the authenticated organisation
      description: >
        Aggregate dashboard metrics across all apps owned by the authenticated organisation.
        App and worker tallies are always present. Request and error-rate totals come from
        the metrics store and are omitted when that hop cannot answer rather than reported
        as zero. Spend is omitted until billing rollups exist.
      operationId: getAppSummary
      responses:
        '200':
          description: App summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ---------------------------------------------------------------------------
  # Builds
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/builds:
    get:
      tags:
        - Builds
      summary: List builds
      operationId: listBuilds
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of builds, plus a collection summary that is independent of the page.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    required:
                      - data
                      - summary
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Build'
                      summary:
                        $ref: '#/components/schemas/BuildListSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'

  /v1/apps/{appId}/builds/{buildId}:
    get:
      tags:
        - Builds
      summary: Get a build
      operationId: getBuild
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: buildId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The build
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
    delete:
      tags:
        - Builds
      summary: Delete or cancel a build
      description: >
        Cancels a queued or running build and records it as `superseded`. Deleting
        a queued or running build ends its current rollout without activating the
        cancelled build, so any previous version keeps serving. A terminal build can
        be deleted once no live rollout still needs it. Ready builds remain while a
        version references them.
      operationId: deleteBuild
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: buildId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Build cancelled or deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '502':
          $ref: '#/components/responses/BadGateway'

  # ---------------------------------------------------------------------------
  # Versions
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/versions:
    get:
      tags:
        - Versions
      summary: List versions
      operationId: listVersions
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of versions, plus a collection summary that is independent of the page.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    required:
                      - data
                      - summary
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Version'
                      summary:
                        $ref: '#/components/schemas/ListSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'

  /v1/apps/{appId}/versions/{versionNumber}:
    get:
      tags:
        - Versions
      summary: Get a version
      operationId: getVersion
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: versionNumber
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
    delete:
      tags:
        - Versions
      summary: Delete a version
      description: >
        Deletes an unused version while retaining its immutable history.
        Deleted versions are omitted from version lists, return `404` from
        version reads, and cannot be deployed. Returns `409` while the app is
        deleting, or when the version is active, is the app's only remaining
        version, has a non-stopped worker, or is targeted by a live rollout.
        Deleting an already deleted version returns `404`. This operation does
        not remove the version's OCI image.
      operationId: deleteVersion
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: versionNumber
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Version deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'

  # ---------------------------------------------------------------------------
  # Endpoints
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/endpoints:
    get:
      tags:
        - Endpoints
      summary: List endpoints
      description: >
        Lists the endpoints of the app's active version. The set is written by the
        source itself — a code build's introspection, or a container's config
        document — and is replaced atomically whenever a version activates, so a
        deploy of a newer version or a rollback to an older one is immediately
        reflected here. Empty while the app is `initializing`: nothing is routable
        until its first build is ready and deployed.
      operationId: listEndpoints
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of the app's endpoints
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Endpoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/apps/{appId}/endpoints/{endpointId}:
    get:
      tags:
        - Endpoints
      summary: Get an endpoint
      operationId: getEndpoint
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: endpointId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Workers (read-only runtime state)
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/workers:
    get:
      tags:
        - Workers
      summary: List workers
      description: >
        Returns a newest-first page of workers observed for the app (including
        terminal `stopped` rows until purged). Optional `state` and `status` narrow the
        page; a cursor must be replayed under the same filters it was issued with.
      operationId: listWorkers
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: state
          in: query
          required: false
          description: >
            Narrow the page by worker state. The default, `all`, keeps the terminal
            `stopped` rows in the page; `live` drops them.


            A `state` of `live` with a `status` of `stopped` is a contradiction and is
            refused, because an empty page would read as "this app has never run".
          schema:
            $ref: '#/components/schemas/WorkerStateFilter'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/WorkerStatus'
      responses:
        '200':
          description: A page of workers
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Worker'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/apps/{appId}/workers/{workerId}:
    get:
      tags:
        - Workers
      summary: Get a worker
      description: >
        Returns one worker by id within the app. The id is the Kubernetes
        pod UID recorded by the reconciler. A worker that belongs to another
        app (or tenant) is not found.
      operationId: getWorker
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/WorkerId'
      responses:
        '200':
          description: The worker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Secrets (organisation-scoped)
  # ---------------------------------------------------------------------------
  /v1/secrets:
    get:
      tags:
        - Secrets
      summary: List secrets
      description: Returns secret metadata only; encrypted values are never returned.
      operationId: listSecrets
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of the authenticated organisation's secrets
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Secret'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
    post:
      tags:
        - Secrets
      summary: Create a secret
      description: >
        Creates an organisation-scoped secret. Returns `409` if the name is
        already in use — including when a secret of that name is
        `pending_destroy`. List only shows active secrets, so a name can appear
        free while create still conflicts for as long as that row remains.
        A `pending_destroy` row is removed, and its name released, by a
        background sweep once no running worker can still hold the value —
        there is no deadline on that wait, so a continuously busy app can hold
        a name for as long as it runs. Recreate-while-deleting may later
        reuse the pending row with the new value (same name, new ciphertext).
      operationId: createSecret
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretCreate'
      responses:
        '201':
          description: Secret created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/secrets/{secretName}:
    put:
      tags:
        - Secrets
      summary: Update a secret
      operationId: updateSecret
      parameters:
        - $ref: '#/components/parameters/SecretName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretUpdate'
      responses:
        '200':
          description: Updated secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Secrets
      summary: Delete a secret
      description: >
        Soft-deletes a secret: marks the row `pending_destroy` and bumps
        revision. This API does not hard-delete the row. A background sweep
        removes the row and releases the name once no running worker can still
        hold the value — the value travels inside the worker's own environment,
        which is fixed when the container starts, so a worker keeps it until it
        stops. There is no deadline on that wait. Returns `409` while any
        app still attaches it — cascade-detach is not performed here;
        detach each holder with
        `DELETE .../apps/{id}/secrets/{name}` first. Attach and detach change
        the secret set for the next rollout. Neither operation rolls workers.
        While the row remains `pending_destroy` the name stays reserved, so
        create may return `409` even though list no longer shows the secret.
        Retries on an already-pending name are safe when no attachments remain
        (`204`); they still return `409` while attached.
      operationId: deleteSecret
      parameters:
        - $ref: '#/components/parameters/SecretName'
      responses:
        '204':
          description: >
            Delete accepted (or already pending with no attachments). The name
            remains reserved while the row is `pending_destroy`.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Organisation tenancy (ADR-019 Option 2b)
  # ---------------------------------------------------------------------------
  /v1/org-tenancies:
    put:
      tags:
        - Tenancy
      summary: Set an organisation's serverless tenancy state
      description: >
        Idempotent upsert for one customer organisation. The customer UUID
        is in the body — public paths never carry an organisation identifier
        (the authenticated API key names the *caller*, which for this route
        must be the Runware platform organisation).


        `state: active` runs Ensure: a Cloud KMS CryptoKey named after the
        organisation UUID, a Kubernetes service account `org-<uuid>` in the
        shared app namespace, and a decrypt IAM binding on that key for the
        KSA principal. `state: disabled` runs teardown: disable the key's
        primary version, drop the decrypt binding, delete the KSA. It then
        stops the organisation's estate: every deployment that is `active`
        moves to `stopping` and has its drain enqueued, and that stop is one
        database transaction — the `200` is returned only once it has
        committed, so it guarantees every deployment that was active is on
        its way to `stopped`. The key itself is not destroyed — a destroyed
        key makes every ciphertext under it permanently unreadable. The
        local row stays as a tombstone so a later Ensure converges on the
        same names; a later Ensure does not resume the deployments this
        disable stopped — restoring the organisation's IAM is not the same
        decision as restarting its workload, and this route does not conflate
        them. A stopped deployment stays stopped until its own resume call,
        the same as one the customer stopped directly.


        A retry after a partial failure converges rather than duplicating
        objects. `200` returns the resulting receipt. `503` when Cloud KMS
        key-admin is rate-limited (60 writes/min) or otherwise unavailable,
        or when the tenancy was disabled but the deployment stop could not
        be committed — the tenancy row is already `disabled` in that case,
        and the same PUT retried stops whatever is still active; the caller
        (admin-api Messenger) retries the same PUT either way.
      operationId: upsertOrgTenancy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgTenancyUpsert'
      responses:
        '200':
          description: Tenancy is in the requested state (created, already present, or disabled)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgTenancy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # App <-> secret attachments
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/secrets:
    get:
      tags:
        - Secrets
      summary: List secrets attached to an app
      operationId: listAppSecrets
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of attached secrets
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SecretAttachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    post:
      tags:
        - Secrets
      summary: Attach a secret to an app
      description: >
        Records that an organisation secret is attached to an app under a
        resolved env-var name. The next rollout injects the value into the
        worker. This operation does not roll workers. Returns `409` if the
        secret is already attached, or if another attach would use the same
        env-var name.

        The resolved name (`envVarName`, or `secretName` when omitted) must not
        already exist as a plain environment variable on this app
        (`deployment_configs.key`). Both sources use the same pod env namespace,
        so the server rejects the collision with `422`
        instead of allowing a last-wins override later. The reverse check
        applies when setting a plain environment variable.

        An app holds at most 100 environment bindings in total — plain
        environment variables plus attached secrets — the same combined ceiling
        as create and the single-key env-var route. Attaching when the
        app is already at that limit returns `422`.
      operationId: attachAppSecret
      parameters:
        - $ref: '#/components/parameters/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretAttach'
      responses:
        '204':
          description: Secret attached
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/apps/{appId}/secrets/{secretName}:
    delete:
      tags:
        - Secrets
      summary: Detach a secret from an app
      description: >
        Removes the attachment from the next rollout. This operation does not
        roll workers. Existing workers keep the value until they stop.
      operationId: detachAppSecret
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/SecretName'
      responses:
        '204':
          description: Attachment removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Environment Variables (plain-text env vars)
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/environment-variables:
    get:
      tags:
        - EnvironmentVariables
      summary: List app environment variables
      operationId: listAppEnvironmentVariables
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A page of environment variables
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EnvironmentVariable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'

  /v1/apps/{appId}/environment-variables/{variableName}:
    put:
      tags:
        - EnvironmentVariables
      summary: Update an app environment variable
      description: >-
        Sets one environment variable, creating it if absent. Names the platform sets on
        the serving container itself are rejected with `422`, as they are on create.


        An app holds at most 100 environment bindings in total — plain
        variables plus attached secrets — the same combined ceiling
        `AppCreate.environmentVariables` declares (create rejects secrets
        in-request; attach grows the set later). Overwriting an existing variable
        is always allowed; adding one past the ceiling returns `422`.


        The name must not collide with a secret already attached to this app
        (the secret's injected env var name). Secrets and plain env vars share the
        pod environment; a duplicate would be resolved last-wins by kubelet with no
        error, so the server rejects it with `422`. The reverse check applies on
        attach.
      operationId: updateAppEnvironmentVariable
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: variableName
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/EnvironmentVariableName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariableUpdate'
      responses:
        '200':
          description: Environment variable updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - EnvironmentVariables
      summary: Delete an app environment variable
      operationId: deleteAppEnvironmentVariable
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: variableName
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/EnvironmentVariableName'
      responses:
        '204':
          description: Environment variable deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------------------------------------------------------------------------
  # Observability
  # ---------------------------------------------------------------------------
  /v1/apps/{appId}/events:
    get:
      tags:
        - Observability
      summary: List app events
      operationId: listAppEvents
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/AppEventType'
      responses:
        '200':
          description: A page of events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AppEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'

  /v1/usage:
    get:
      tags:
        - Observability
      summary: List usage events
      description: Append-only billing telemetry; one row per worker state transition.
      operationId: listUsageEvents
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: appId
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/AppId'
        - name: from
          in: query
          required: false
          description: Inclusive lower bound on event time (RFC 3339).
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: Exclusive upper bound on event time (RFC 3339).
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: A page of usage events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/UsageEvent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ---------------------------------------------------------------------------
  # Insights: customer-facing metrics and logs
  #
  # No path here names a tenant. The organization comes from the authenticated
  # credential and nothing else, and it is what the stores are read under, so a caller
  # cannot ask for another organization's data by naming it.
  #
  # Nothing on these routes accepts a query expression or a label matcher. A caller
  # names a query from the catalogue and narrows it with selectors from a closed set;
  # how that becomes a read is decided downstream (ADR-023).
  # ---------------------------------------------------------------------------
  /v1/metrics/queries:
    get:
      tags:
        - Observability
      summary: List the metric and log queries this build can answer
      description: >
        The catalogue: every named query, its unit and aggregation, the selectors it
        accepts, the series it returns, and the windows actually backed by stored series.


        This is the source of query ids. Clients discover ids here rather than carrying a
        list of their own, and render window tabs from `windows` rather than from the full
        ladder, so a window whose storage tier has no backing series stays invisible
        instead of rendering a tab with nothing behind it.
      operationId: listInsightsQueries
      responses:
        '200':
          description: The catalogue for this build
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCatalogue'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'

  /v1/metrics/queries/{queryId}/series:
    get:
      tags:
        - Observability
      summary: Read one named metric query
      description: >
        Returns one chart's data: a single timestamp axis shared by every series, and one
        dense value array per series aligned to it.


        Values are dense and positionally aligned to `t`, with an explicit `null` wherever
        there was no sample. Each timestamp is the END of its bucket, so `window.to` is
        inclusive and equals the last timestamp in `t`, while `window.from` is exclusive
        and is one `step_s` before the first.


        An organization with no metrics yet is answered with the full axis and all-null
        series rather than an error.


        `apps_request_volume` returns one series per app: 24 hourly request counts over
        `window=24h` (`step_s` 3600, unit `requests`). Repeat `appId` once per id on the
        current list page to pad idle apps with all-null series, in request order. Hours
        that started before that live app's `createdAt` are null, so a reused app id does
        not inherit the previous generation's traffic still in the 24h store. The same
        `appId` pad applies to the list-scoped `apps_error_volume` and
        `apps_request_duration` queries. Other queries reject `appId`. Other windows
        are not available for these queries.


        `endpoints_request_volume` is the endpoints-list counterpart: 24 hourly request
        counts per endpoint over `window=24h` (`step_s` 3600, unit `requests`). It
        requires `deployment` (the public app id, rewritten to the live deployment
        UUID). Repeat `endpointId` once per id on the current `listEndpoints` page to
        pad idle endpoints with all-null series, in request order. Hours that started
        before that endpoint row's `createdAt` are null, so a removed-then-readded path
        does not inherit the previous row's traffic. Other queries reject `endpointId`.
        Other windows are not available for this query.
      operationId: getMetricSeries
      parameters:
        - $ref: '#/components/parameters/QueryId'
        - $ref: '#/components/parameters/MetricWindow'
        - $ref: '#/components/parameters/PinnedTo'
        - $ref: '#/components/parameters/SelectorDeployment'
        - $ref: '#/components/parameters/SelectorEndpoint'
        - $ref: '#/components/parameters/SelectorStatusClass'
        - $ref: '#/components/parameters/SelectorRegion'
        - $ref: '#/components/parameters/SeriesAppId'
        - $ref: '#/components/parameters/SeriesEndpointId'
      responses:
        '200':
          description: One chart's data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricSeries'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'

  /v1/logs/queries/{queryId}/entries:
    get:
      tags:
        - Observability
      summary: Read one page of a named log query
      description: >
        Returns one page of log entries, newest first, with an opaque cursor for the next
        page when one exists.


        No query is registered yet: live tail, retention tiers and log quotas are decided
        in a follow-up ADR, so every request currently answers `404`. The route exists so
        the contract is fixed before the templates land.
      operationId: getLogEntries
      parameters:
        - $ref: '#/components/parameters/QueryId'
        - $ref: '#/components/parameters/MetricWindow'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/SelectorDeployment'
        - $ref: '#/components/parameters/SelectorEndpoint'
      responses:
        '200':
          description: One page of log entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogEntryPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '504':
          $ref: '#/components/responses/GatewayTimeout'

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: >
        Runware API key supplied as a bearer token. Validated server-to-server against the
        existing Runware platform; the key identifies the organisation.
    OrgJwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Org-scoped JWT supplied as a bearer token, minted by the Runware platform for one
        user acting in one organisation and verified locally against the platform's
        published JWKS. Serves the web app; the CLI and SDK use ApiKeyAuth.

  parameters:
    AppId:
      name: appId
      in: path
      required: true
      description: >
        Immutable app identifier, unique among the authenticated organisation's live apps.
      schema:
        $ref: '#/components/schemas/AppId'
    SourceId:
      name: sourceId
      in: path
      required: true
      description: Source artifact identifier.
      schema:
        $ref: '#/components/schemas/SourceId'
    SourceUploadId:
      name: uploadId
      in: path
      required: true
      description: Source upload session identifier.
      schema:
        $ref: '#/components/schemas/SourceUploadId'
    GpuTypeId:
      name: gpuTypeId
      in: path
      required: true
      description: Public catalogue code for a GPU type (e.g. `h100`), not the internal row UUID.
      schema:
        $ref: '#/components/schemas/GpuTypeId'
    WorkerId:
      name: workerId
      in: path
      required: true
      description: >
        Worker identifier — the Kubernetes pod UID recorded by the reconciler. This is the
        stable key to address a worker with; `podName` is the value to show a person.
      schema:
        type: string
        format: uuid
    EndpointPath:
      name: endpointPath
      in: path
      required: true
      description: >
        Path of the endpoint to route the task to, as returned by `listEndpoints`:
        a bare lowercase segment such as `generate`, with no leading slash.
      schema:
        $ref: '#/components/schemas/EndpointPath'
    SecretName:
      name: secretName
      in: path
      required: true
      description: Secret name, unique within the authenticated organisation.
      schema:
        $ref: '#/components/schemas/SecretName'
    Limit:
      name: limit
      in: query
      required: false
      description: Maximum number of items to return.
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 100
        default: 20
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque pagination cursor returned as `nextCursor` by a previous call.
      schema:
        type: string

    QueryId:
      name: queryId
      in: path
      required: true
      description: >
        A query id from the catalogue. Deliberately not an enum: the downstream registry is
        the source of ids, and an enum here would be a second list to keep in step with it.
      schema:
        type: string
        pattern: '^[a-z][a-z0-9_]{0,63}$'
    MetricWindow:
      name: window
      in: query
      required: true
      description: >
        The time window. A closed set rather than a free-form range, because every distinct
        range defeats the server-side cache alignment that makes a sliding window cheap.
        Only the windows a query lists in the catalogue can be asked of it.
      schema:
        type: string
        enum: [1h, 6h, 24h, 7d, 30d]
    PinnedTo:
      name: pinnedTo
      in: query
      required: false
      description: >
        Fixes the window's inclusive end, the last timestamp in `t`, so that several calls
        making up one visual share an axis instead of racing the clock between them. Must
        be aligned to the window's step, no newer than the newest readable edge, and inside
        retention.
      schema:
        type: integer
        format: int64
    SelectorDeployment:
      name: deployment
      in: query
      required: false
      description: Narrow to one app.
      schema:
        $ref: '#/components/schemas/AppId'
    SelectorEndpoint:
      name: endpoint
      in: query
      required: false
      description: >
        Narrow to one endpoint within a deployment. The value is the allocated
        `endpoints.id` (UUID), never the customer-authored path. A query that
        does not declare this selector rejects it rather than ignoring it.
      schema:
        type: string
        format: uuid
    SelectorStatusClass:
      name: statusClass
      in: query
      required: false
      description: Narrow to one response class.
      schema:
        type: string
        enum: ['2xx', '4xx', '5xx']
    SelectorRegion:
      name: region
      in: query
      required: false
      description: >
        Narrow to one region. No series carries a region label yet, so no query currently
        accepts this and supplying it is rejected rather than ignored.
      schema:
        type: string
        pattern: '^[a-z0-9_-]{1,32}$'
    SeriesAppId:
      name: appId
      in: query
      required: false
      style: form
      explode: true
      description: >
        Restrict expand-by-`app_id` queries (`apps_request_volume`,
        `apps_error_volume`, `apps_request_duration`) to these app ids: one series
        per id, in request order, with all-null series for apps that had no samples.
        Values are hourly over `window=24h`. Hours that started before that live
        app's `createdAt` are null. Repeat the parameter once per id on the current
        list page (at most 100, matching `listApps`). Omit it to receive every app
        in the organisation that had data, unless that set is larger than this
        query will expand: then the call is a `422` on `appId` and the list page
        should name the apps it is showing. Other queries reject this parameter.
      schema:
        type: array
        maxItems: 100
        items:
          $ref: '#/components/schemas/AppId'
    SeriesEndpointId:
      name: endpointId
      in: query
      required: false
      style: form
      explode: true
      description: >
        Restrict `endpoints_request_volume` to these endpoint ids: one series per id,
        in request order, with all-null series for endpoints that had no traffic.
        Values are hourly request counts over `window=24h`. Hours that started
        before that endpoint row's `createdAt` are null. Repeat the parameter once
        per id on the current list page (at most 100, matching `listEndpoints`).
        Omit it to receive every endpoint on the selected app that had data, unless
        that set is larger than this query will expand: then the call is a `422`
        on `endpointId` and the list page should name the endpoints it is showing.
        Other queries reject this parameter. Requires `deployment`.
      schema:
        type: array
        maxItems: 100
        items:
          type: string
          format: uuid
  requestBodies:
    TaskInvocation:
      required: true
      description: >
        The invocation envelope. `taskId` is the client's own identifier for this
        task and `payload` is the body the endpoint's handler receives.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskInvocation'

  responses:
    Task:
      description: The task
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Task'
    TaskAccepted:
      description: >
        Task accepted. Normally `pending`, but a resubmitted task id is answered
        with the task it already names, which may have finished — read `status`
        rather than assuming.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Task'
    BadRequest:
      description: >
        The request was malformed and could not be parsed (e.g. invalid JSON).
        A well-formed request that fails validation returns `422` instead.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    ServiceUnavailable:
      description: A required service is temporarily unavailable
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Forbidden:
      description: Authenticated but not permitted to access this resource
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    NotFound:
      description: Resource not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Conflict:
      description: Resource already exists or the request conflicts with its current state
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    ValidationError:
      description: >
        The request was well-formed but semantically invalid (e.g. a missing or
        out-of-range field). A request that could not be parsed returns `400`.
        The `errors` array carries one entry per offending field.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
[...]
